*{
    box-sizing: border-box;  
}



body{
    margin: 0;
    background-image: url(cepbc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
    align-items: center;
    

}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 5px;
    width: 100%;
}

li{
    float: right;
    margin-right: 2px;
}

li a{
    display: block;
    box-shadow: 0px 8px 8px 0px orchid;
    text-decoration: none;
    padding: 2px 12px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: auto;
    float: left;
    
    
    
}

li a:hover{
    
    font-weight: bold;
    font-style: italic;
    display: block;
    color: crimson;
    background-color: white;
    
}

.see{
    color: papayawhip;
    margin: auto;
    padding: 5px;
    float: left;
    text-decoration: none;
    list-style-type: none;
    background: none;
    
}

h1{
    text-align: center;
    font-weight: bold;
    color: white;
}

h2{
    text-align: center;
    font-weight: bold;
    color: white;
}

p{
    color: white;
}

.one{
    background-color: green;

}

button{
    background-color: orangered;
    color: white;
}


.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    border: none;
    outline: none;
    color: white;
    padding: 2px 12px;
    background-color: rgba(17, 16, 16, 0.794);
    font-family: inherit;
    font-size: 20px;
    float: left;
    display: block;
    box-shadow: 0px 8px 8px 0px orchid;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px orangered;
    z-index: 1;
}


.dropdown-content a{
    float: none;
    color: bisque;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown:hover .dropdown-content{
    display: block;
}


.navbar{
    overflow-y: unset;
    background-color: rgba(17, 16, 16, 0.794);
    font-family: inherit;
    float: left;
    margin-right: 40px;
    text-align: center;
    transform: translateX(60%);
    position: absolute;
    box-shadow: 0px 8px 16px 0px orchid;
    

}

@media screen and (max-width:1050px){
    .navbar{
        width: 100%;
        margin-top: 10px;
        
    }

    li{
        width: 100%;
        margin-top: 10px;
        
    }

    ul{
        width: 100%;
       
        margin-top: 10px;
    }
}




.blindc {
    position: absolute;
}

.elg {
    font-size: 20px;
}


#guidelines {
    font-size: 20px;
    padding-left: 30px;
}

.guide{
    text-align: left;
    transform: translateX(25%);
}

.khali{
    padding-top: 4%;
}